@use '../abstracts/colors';

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  @media only screen and (max-width: 1300px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media only screen and (max-width: 1050px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 370px) {
    grid-template-columns: 1fr;
  }

  &__item {
    border: 1px solid colors.$dark;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    &-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      margin-top: 1rem;
    }
  }
}